html, body {
  display: flex;
  justify-content: center;
  flex-direction: top;
  align-items: center;
  height: 100vh;
  background-color: #222;
}

canvas {
  display: block;
}
#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}